<div class="container">
  <form #ref="ngForm" (ngSubmit)="sendt(ref.value)">
      <div class="form-group">
        <label>Enter studentname:</label>
          <input type="text" name="name" class="form-control" ngModel #ref1="ngModel" required>
           <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.touched)">
                <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
        <label>Roll number:</label>
          <input type="text" name="rollnumber" class="form-control" ngModel #ref2="ngModel" required>
           <label *ngIf="ref2.invalid &&(ref2.dirty||ref2.touched)">
                <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
        <label>class:</label>
          <input type="text" name="class" class="form-control" ngModel #ref3="ngModel" required>
           <label *ngIf="ref3.invalid &&(ref3.dirty||ref3.touched)">
                <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ngModel #ref4="ngModel" required>
           <label *ngIf="ref4.invalid &&(ref4.dirty||ref4.touched)">
                <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
       <label>Gmail</label>
         <input type="text" name="gmail" class="form-control" placeholder=".@gmail.com" ngModel #ref3="ngModel" required>
       <label *ngIf="ref3.invalid && (ref3.dirty || ref3.touched)"><div class="text-danger">*this field is manadatory</div></label>
      </div>
      <div class="form-group">
       <label>Phone Number:</label>
        <input type="number" name="phonenumber" class="form-control" ngModel #ref4="ngModel" required minlength="10">
       <label *ngIf="ref4.invalid && (ref4.dirty || ref4.touched)"><div class="text-danger">*min 10 chr</div></label>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
      </div>
  </form>
</div>
