<ul *ngFor="let value of data">
  <pre style="display:flex"><li class="nav-link">{{value.letter}}</li></pre> 
  <div class="row">
  <div class="col-md-4"><li class="nav-link"><b>From</b>:{{value.from}}</li></div>

  <div class="col-md-4">
   <li class="nav-link"><b>To</b>:{{value.to}}</li>
  </div>

   <div class="col-md-4"><li class="nav-link"><b>NO:OF Days</b>:{{value.days}}</li></div>
   </div>
   <div class="text-center">
     <button class="btn btn-primary mr-2 "(click)="send2(value.rollnumber)">Accept</button>
     <button class="btn btn-danger"(click)="send3(value.rollnumber)">Reject</button>
   </div>

</ul>


<!--<div class="card-footer text-center">
      <h3 class="text-dark">Request is:</h3> 
      {{data1}}
    <div class="from-group">
          <h4 class="text-center text-danger">Reason For Rejection:</h4>
           <input type="text" #ref class="form-control">
       </div>
       <div class="text-center">
           <button class="btn btn-info"(click)="send4(ref.value)">Reason</button>
       </div>
   </div> -->