<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="changepass(ref.value)">
                    <div class="form-group">
                            <label>Enter ID</label>
                            <input type="text" name="rollnumber" class="form-control" ngModel>
                        </div>
                <div class="form-group">
                    <label>Enter new password</label>
                    <input type="text" name="password" class="form-control" ngModel>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>