<div class="container">
  <div class="row">
   <div class="col-md-3"></div>
    <div class="col-md-6">
     <form #ref="ngForm" (ngSubmit)="sendto3(ref.value)">
      <div class="form-group">
       <label>Notifications</label>
       <textarea type="text" class="form-control" name="notification" rows="15" cols="120" ngModel #ref1="ngModel" required ></textarea>
        <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)">
          <div class="text-danger">*this field is manadatory</div>
        </label>
      </div>
      <div class="text-center">
       <button type="submit"class="btn btn-primary mt-3">send</button></div>
    </form>
   </div>
   <div class="col-md-3"></div>
  </div>
</div>