<div class="container">
   <table class="table">
      <thead>
       <th>Rollnumber</th>
       <th>Subject</th>
       <th>Marks Aquired</th>
       <th>Total Marks</th>
           <tr *ngFor="let obj of marks">
               <td>{{obj.rollnumber}}</td>
               <td>{{obj.subject}}</td>
               <td>{{obj.marks}}</td>
               <td>{{obj.total}}</td>
           </tr>
      </thead>
  </table>
</div>