<div class="container">
  <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
      <div class="form-group">
        <label>Student Rollnumber:</label>
          <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
           <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.touched)">
            <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
        <label>Subject:</label>
          <input type="text" name="subject" class="form-control" ngModel #ref2="ngModel" required>
           <label *ngIf="ref1.invalid &&(ref1.dirty||ref2.touched)">
            <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
        <label>Marks Aquired: </label>
          <input type="number" name="marks" class="form-control" ngModel #ref3="ngModel" required>
           <label *ngIf="ref1.invalid &&(ref1.dirty||ref3.touched)">
            <div class="text-danger">*this field is mandatory</div>
           </label>
      </div>
      <div class="form-group">
        <label>Total Marks:</label>
         <input type="number" name="total" class="form-control" ngModel #ref4="ngModel" required>
          <label *ngIf="ref4.invalid &&(ref1.dirty||ref4.touched)">
            <div class="text-danger">*this field is mandatory</div>
          </label>
      </div>
      <div class="text-center">
        <button class="btn btn-info" type="submit">Submit</button>
      </div>
  </form>

  <div *ngIf=b>
    <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
         <div class="form-group">
           <label>Student Rollnumber:</label>
           <input type="text" name="rollnumber" class="form-control" [(ngModel)]="objectToModify.rollnumber">
         </div>
         <div class="form-group">
           <label>Subject:</label>
           <input type="text" name="subject"  class="form-control" [(ngModel)]="objectToModify.subject">
         </div>
         <div class="form-group">
           <label>Marks Aquired: </label>
           <input type="number" name="marks" class="form-control" [(ngModel)]="objectToModify.marks">
         </div>
         <div class="form-group">
           <label>Total Marks:</label>
           <input type="number" name="total"  class="form-control" [(ngModel)]="objectToModify.total">
         </div>
         <div class="text-center">
              <button class="btn btn-info" type="submit">save</button>
         </div>
     </form>
  </div>
  <table class="table">
      <thead>
        <th>Rollnumber</th>
        <th>Subject</th>
        <th>Marks Aquired</th>
        <th>Total Marks</th>
          <tr *ngFor="let obj1 of marks">
              <td>{{obj1.rollnumber}}</td>
              <td>{{obj1.subject}}</td>
              <td>{{obj1.marks}}</td>
              <td>{{obj1.total}}</td>
                 <button class="btn btn-danger" (click)="deleteRecord(obj1.rollnumber)">Delete</button>
                 <button class="btn btn-success" (click)="editRecord(obj1)">Edit</button>
          </tr>
      </thead>
  </table>
</div>