<div class="container">
  <h1 class="text-dark"><marquee behavior="alternate" direction="right">STUDENT MANAGEMENT</marquee></h1>
    <nav class="navbar navbar-expand-sm bg-success navbar-light">
        <a href="" class="navbarbrand">
            <img src="assets/download.png" height="50%" width="25%">
        </a>
        <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div id="n" class="collapse navbar-collapse justify-content-end text-white">
      <ul class="navbar-nav ">
        <li class="nav-item">
            <a routerLink='home' class="nav-link">Home</a>
        </li> 
        <li class="nav-item">
            <a routerLink='login' class="nav-link">Login</a>
        </li>   
     </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
</div>

