<div class="container">
  <div class="row">
   <div class="col-md-3"></div>
    <div class="col-md-6">
        <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">                    
            <h2 class="text-center">LOGIN</h2>
                <div class="from-group">
                  <label>USER ID:</label>
                   <input type="text" name="rollnumber" placeholder="Enter ID" class="form-control" ngModel #ref1="ngModel" required>
                     <label *ngIf="ref1.invalid &&(ref1.dirty||ref1.touched)">
                         <div class="text-danger">*this field is mandatory</div>
                     </label>
                </div>
                 <div class="from-group">
                    <label>Password:</label>
                     <input type="password" name="password" placeholder="Enter Password" class="form-control"  ngModel #ref2="ngModel" required>
                      <label *ngIf="ref2.invalid &&(ref2.dirty||ref2.touched)">
                        <div class="text-danger">*this field is mandatory</div>
                      </label>
                 </div>
                 <div class="text-center">
                    <button type="submit" class="btn btn-success">Login</button>
                 </div>
                    <div class="text-center">
                        <a routerLink="/main/forgotpassword" class="nav-link">forgot password?</a>
                    </div>

                    <label *ngIf="ref3.invalid &&(ref3.dirty||ref3.untouched)">
                        <div class="text-danger">*this field is mandatory</div>
                    </label>

                    <div>
                        <label for="f" class="form-check-label">
                              <input type="radio" name="user" value="admin" id="f" class="form-check-input" ngModel #ref3="ngModel" required>Admin
                        </label>
                    </div>
                    <div>
                        <label for="m" class="form-check-label">
                              <input type="radio" name="user" value="student" id="m" class="form-check-input" ngModel #ref3="ngModel" required>Student
                        </label>
                    </div>
        </form>
    </div>
  </div>
   <div class="col-md-3"></div>
 </div>
