<table class="table  table-bordered">
  <thead>
      <th>Roll Number</th>
      <th>Month Attendance</th>
      <th>Overall Attendance</th>
  </thead>
  <tr *ngFor="let obje of attendance">
    <td>{{obje.rollnumber}}</td>
    <td>{{obje.monthattendance}}</td>
    <td>{{obje.overallattendance}}</td>
  </tr>
</table>
   
