<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="otp(ref.value)">
                <div class="form-group">
                    <label>Enter OTP</label>
                    <input type="number" name="OTP" class="form-control" ngModel>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit">send</button>
                </div>
            </form>
        </div>
    </div>
</div>