<div class="container">
  <form #ref="ngForm" (ngSubmit)="sendto2(ref.value)">
      <div class="form-group">
          <label>Roll Number:</label>
          <input type="text" name="rollnumber" class="form-control" ngModel #ref1="ngModel" required>
           <label *ngIf="ref1.invalid && ref1.touched">
              <div class="text-danger">*this field is manadatory</div>
           </label>
      </div>
      <div class="form-group">
          <label>Total Fee</label>
           <input type="number" name="totalfee" class="form-control" ngModel #ref2="ngModel" required>
            <label *ngIf="ref2.invalid && ref2.touched">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
      <div class="form-group">
          <label>Paid Fee</label>
          <input type="number" name="paidfee" class="form-control" ngModel #ref3="ngModel" required>
            <label *ngIf="ref3.invalid && ref3.touched">
                <div class="text-danger">*this field is manadatory</div>
             </label>
        </div>
      <div class="form-group">
          <label>Balance Fee</label>
           <input type="number" name="balancefee" class="form-control" ngModel #ref4="ngModel" required>
            <label *ngIf="ref4.invalid && ref4.touched">
                <div class="text-danger">*this field is manadatory</div>
            </label>
        </div>
      <div class="text-center">
          <button type="submit" class="btn btn-info">Submit</button>
      </div>
  </form>
  <div *ngIf=c>
      <form #ref="ngForm" (ngSubmit)="onSubmit2(ref.value)">
          <div class="form-group">
              <label>Roll Number:</label>
              <input type="text" name="rollnumber" class="form-control" [(ngModel)]="objectToModify2.rollnumber">
          </div>
          <div class="form-group">
              <label>Total Fee</label>
              <input type="number" name="totalfee" class="form-control" [(ngModel)]="objectToModify2.totalfee" >
          </div>
          <div class="form-group">
              <label>Paid Fee</label>
              <input type="number" name="paidfee" class="form-control"[(ngModel)]="objectToModify2.paidfee">
          </div>
          <div class="form-group">
              <label>Balance Fee</label>
              <input type="number" name="balancefee" class="form-control" [(ngModel)]="objectToModify2.balancefee">
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-info">save</button>
          </div>
      </form>
  </div>
  <table class="table">
      <thead>
        <th>Rollnumber</th>
        <th>Total fee</th>
        <th>Paidfee</th>
        <th>Balance Fee</th>
          <tr *ngFor="let obj2 of t">
              <td>{{obj2.rollnumber}}</td>
              <td>{{obj2.totalfee}}</td>
              <td>{{obj2.paidfee}}</td>
              <td>{{obj2.balancefee}}</td>
                <button class="btn btn-danger" (click)="deleteRecord2(obj2.rollnumber)">Delete</button>
                <button class="btn btn-success" (click)="editRecord(obj2)">Edit</button>
          </tr>
      </thead>
  </table>
</div>