<div class="container">
    <h1><div class="text-danger text-center">Student Profile</div></h1>
  <table class="table">
    <thead>
     <th>studentname</th>
     <th>Rollnumber</th>
     <th>class</th>
    </thead>
      <tr *ngFor="let pro of data">
          <td>{{pro.name}}</td>
          <td>{{pro.rollnumber}}</td>
          <td>{{pro.class}}</td>
      </tr>
 </table>
</div>
