<div class="container">
  <h1 class="text-dark"><marquee behavior="alternate" direction="right">STUDENT MANAGEMENT</marquee></h1>
    <nav class="navbar navbar-expand-sm bg-success navbar-light">
        <a href="" class="navbarbrand">
            <img src="assets/download.png" height="50%" width="25%">
        </a>
        <button data-toggle="collapse" data-target="#n" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="n" class="collapse navbar-collapse justify-content-end text-white">
      <ul class="navbar-nav ">
        <li class="nav-item">
              <a routerLink="studentprofile" class="nav-link">Student Profile</a>
        </li>
        <li class="nav-item">
              <a routerLink="addstudent" class="nav-link">Add Student</a>
        </li>
        <li class="nav-item">
              <a routerLink="marks" class="nav-link">Update Marks</a>
        </li> 
        <li class="nav-item">
                <a routerLink="attendance" class="nav-link">Update Attendance</a>
        </li> 
        <li class="nav-item">
            <a routerLink="notification" class="nav-link">Update Notification</a>
        </li>  
        <li class="nav-item">
            <a routerLink="feestatus" class="nav-link">Update Fee</a>
        </li> 
        <li class="nav-item">
                <a routerLink="request" class="nav-link">Request</a>
        </li>
        <li class="nav-item">
            <a routerLink="/main/home" class="nav-link">Logout</a>
        </li>  
    </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
    </div>
