<div class="container">
  <table class="table">
      <thead>
          <th>studentname</th>
          <th>Rollnumber</th>
         <th>class</th>
      </thead>
          <tr *ngFor="let obj of data">
              <td>{{obj.name}}</td>
              <td>{{obj.rollnumber}}</td>
              <td>{{obj.class}}</td>
                 <button class="btn btn-danger" (click)="deleteRecord3(obj.rollnumber)">Delete</button>
          </tr>
     
  </table>
</div>
